<div class="container-body">
    <div class="container-body-column">
        <div class="flex-column width-20pct">
            <div class="avatar flex-row anim-slide-in-top">
                <div class="avatar-pic">
                    <img src="./img/avatar2.png" alt="">
                </div>
                <div class="avatar-profile flex-column">
                    <div class="profile flex-column">
                        <small>Nama</small>
                        <span><%=user.data.name%></span>
                    </div>
                    <div class="profile flex-column">
                        <small><%=(user.data.peringkat=='Rendah'?'Tahun':(user.data.peringkat=='Menengah'?'Tingkatan':''))%></small>
                        <span><%=user.data.darjah_tingkatan%></span>
                    </div>
                    <div class="profile flex-column">
                        <small>Sekolah</small>
                        <span><%=user.data.namasekolah%></span>
                    </div>
                    <div class="profile flex-column">
                        <small>Alamat</small>
                        <span><%=user.data.alamat%></span>
                    </div>
                </div>
            </div>
            <div class="menus flex-column anim-slide-in-top">
                <div class="menu-header">
                    Pertandingan-pertandingan berikut telah didaftarkan untuk anda sertai
                </div>
                <div id="menu-header-negeri" class="menu-header aurora text-white shadow">
                    Peringkat Negeri
                </div>
                <div class="menu-list flex-column">
                    <%
                    var theme = [
                        ['Aeroangkasa','aer',''],
                        ['Kecerdasan Buatan dan Sains Data','kbs','online'],
                        ['Inovasi, Kreativiti untuk Kesejahteraan Rakyat','ikr','online'],
                        ['Teknologi Sohor','ts','online'],
                        ['Keterangkuman Malaysia Madani','ktm',''],
                        ['Sains & Inovasi','sci','online']                    
                    ];

                    var getLogo = (th)=>{
                        //console.log('SKAKJHKJAHKHAKJS: ',th,theme.filter(a=>a[0]==th));
                        return theme.filter(a=>a[0]==th)[0][1];
                    }
                    %>
                    <%competitions.filter(a=>a.peringkat==='Negeri').forEach(d=>{%>
                        <div class="menu-item flex-row menu-negeri">
                            <img src="./img/picto-<%=getLogo(d.theme)%>.png" alt="">
                            <%=d.prog_name%>
                        </div>
                    <%})%>
                </div>

                <div id="menu-header-sekolah" class="menu-header aurora text-white shadow">
                    Peringkat Sekolah
                </div>
                <div class="menu-list flex-column">
                    
                    <%competitions.filter(a=>a.peringkat==='Sekolah').forEach(d=>{%>
                        <div class="menu-item flex-row menu-sekolah">
                            <img src="./img/picto-<%=getLogo(d.theme)%>.png" alt="">
                            <%=d.prog_name%>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
        <div class="main-container anim-slide-in-top flex-column width-50pct flex-grow-2  scroll">
            <div class="book aurora shadow flex-column text-white">
                ARENA DALAM TALIAN | MALAYSIA TECHLYMPICS
            </div>
            <%competitions.filter(a=>a.prog_desc==='online').forEach(d=>{%>
                <div class="book shadow flex-column book-<%=d.prog_code.replace('.','')%>">
                    <div class="book-header flex-row" style="background-color:<%=d.color%>;">
                        <%=d.theme%> | <%=d.prog_name%>
                    </div>
                    <div class="book-container"></div>
                    
                    <div class="book-container">
                        <div class="book-list flex-row">
                            <div class="book-title">
                                Nantikan arahan seterusnya untuk cabaran ini
                            </div>
                        </div>
                    </div>
                    
                </div>
            <%});%>
            <!--
            <div class="book shadow flex-column">
                <div class="book-header flex-row">
                    Teknologi Sohor | 5.3K Techlympics Quiz-A-Thon
                </div>
                
            </div>-->
        </div>
        <div class="flex-column width-20pct">
            <!--
            <div class="youtube">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/AHY0bAL0_Uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            -->
            <div class="menus flex-column anim-slide-in-top">
                <div class="menu-header">
                    Rujukan
                </div>
                <div class="menu-list flex-column">
                    <%theme.forEach(d=>{%>
                        <div class="menu-item flex-row">
                            <img src="./img/picto-<%=d[1]%>.png" alt=""><%=d[0]%>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="./assets/d3.v7.min.js"></script>

<script>

    function getDateFormatted(dt) {
        const currentDate = new Date(dt);
        const year = currentDate.getFullYear();
        const day = String(currentDate.getDate()).padStart(2, '0');
        const month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed, so we add 1 to get the correct month.

        const formattedDate = `${year}-${month}-${day}`;
        return formattedDate;
    }

    function redirectToNewTab(url) {
        // Open the URL in a new tab
        const newTab = window.open(url, '_blank');

        // Make sure the new tab was successfully opened
        if (newTab) {
            // Focusing on the new tab (optional)
            newTab.focus();
        } else {
            // If the new tab was blocked by the browser's pop-up blocker, 
            // you can handle the situation here (e.g., display a message).
            console.log('The new tab was blocked.');
        }
    }

</script>

<%competitions.filter(a=>a.prog_desc==='online').forEach(d=>{%>
    <%if(d.prog_code==='5.3K' || d.prog_code==='5.3R' || d.prog_code==='5.3B'){%>
        <script>
            var loadQuiz = (peringkat, fn)=>{
                $.ajax({
                    type: "POST",
                    url: '/api/quiz/list',
                    data: {peringkat:peringkat},
                    success: function (res) {
                        fn(res);
                    },
                    dataType: 'json'
                });
            }
            var loadQuestions = (q)=>{
                $.ajax({
                    type: "POST",
                    url: '/quiz',
                    data: {quiz:q},
                    success: (msg)=>{

                    }
                });
            }

            $(document).ready(()=>{
                loadQuiz('<%=user.data.peringkat%>',data=>{
                    console.log(data);
                    var sel = `.book-<%=d.prog_code.replace('.','')%> .book-container`;
                    console.log(sel);
                    var book = d3.select(sel);
                    book.selectAll('*').remove();
                    book.selectAll('.book-list').data(data).enter().append('div').call(o=>{
                        o.attr('class','book-list flex-row');
                        o.append('div').attr('class','tarikh').text(d=>getDateFormatted(d.datepublish));
                        o.append('div').attr('class','book-title').text(d=>d.title);
                        o.append('div').attr('class','status float-right').text('-');

                        o.on('click', (e, d)=>{
                            //loadQuestions(d);
                            redirectToNewTab('/quiz/' + d.id);
                        });
                    });
                })
            });
        </script>
    <%}%>
<%})%>
<script>
    $('#menu-header-sekolah').on('click',()=>{
        $('.menu-sekolah').toggleClass('hide');
    });
    $('#menu-header-negeri').on('click',()=>{
        $('.menu-negeri').toggleClass('hide');
    })
</script>