<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../quiz.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="qid"></div>
            </div>
            <div class="theme-container">
                <div class="timer">

                </div>
                <div class="theme"></div>
                <div class="sub-theme"></div>
            </div>
            <div class="question">
                <div class="text"></div>
            </div>
            <div class="answer flex-row"></div>
            <div class="footer">
                <div class="next">
                    <div>SETERUSNYA</div>
                </div>
            </div>
        </div>

        <div class="arahan flex-column">
            <div class="arahan-text">
                <ul>
                    <strong><%=quiz.title%></strong>
                    <li>
                        <%=quiz.instructions%>
                    </li>
                    <li>
                        Keputusan akan dinilai berdasarkan jawapan yang tepat dan kepantasan masa yang dicatatkan
                    </li>
                    <li>
                        Pemasa (Timer) akan bermula sebaik sahaja klik pada butang 'Saya faham dan Teruskan' di bawah
                    </li>
                </ul>
                <span>**Pemasa akan tamat sebaik sahaja jawapan ke-<%=quiz.questions.split(',').length%> dijawab</span>
            </div>
            <div class="button text-black" onclick="closeAndStart()">Saya faham dan Teruskan</div>
        </div>


        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script>
            var api = {
                quiz:{
                    questions(q,fn){
                        $.ajax({
                            type: "POST",
                            url: '/api/quiz/questions',
                            data: {qids:q},
                            success: function (res) {
                                fn(res);
                            },
                            dataType: 'json'
                        });
                    },
                    answer(ans, fn){
                        $.ajax({
                            type: "POST",
                            url: '/api/quiz/answer',
                            data: {answered: ans},
                            success: function (res) {
                                fn(res);
                            },
                            dataType: 'json'
                        });
                    },
                    complete(ans, fn){
                        $.ajax({
                            type: "POST",
                            url: '/api/quiz/complete',
                            data: {answered: ans},
                            success: function (res) {
                                fn(res);
                            },
                            dataType: 'json'
                        });
                    },
                    result(ans, fn){
                        $.ajax({
                            type: "POST",
                            url: '/api/quiz/complete-result',
                            data: {answered: ans},
                            success: function (res) {
                                fn(res);
                            },
                            dataType: 'json'
                        });
                    }
                }
            }
        </script>

        <script>
            var closeAndStart=()=>{
                $('.arahan').addClass('hide');
                var mysqlTimestamp = '<%=quiz.lastupdate%>';
                var timestampMilliseconds = Date.parse(mysqlTimestamp);
                console.log('timestampMilliseconds--->>>',mysqlTimestamp,timestampMilliseconds);

                startTimer(timestampMilliseconds);

                var ans = {
                    quizid: '<%=quiz.id%>'*1,
                    answer: '',
                    queue: '<%=quiz.questions_queue%>'
                }

                api.quiz.answer(ans, d=>{
                    console.log(d);
                })
            }

            function startTimer(initialStartTime) {
                var timerElement = document.querySelector('.timer'); // Get the HTML element with the class 'timer'
                var startTime = initialStartTime || Date.now(); // Use the provided start time or get the current timestamp in milliseconds

                function updateTimer() {
                    var currentTime = Date.now(); // Get the current timestamp in milliseconds
                    var elapsedTime = currentTime - startTime; // Calculate the elapsed time in milliseconds

                    // Convert elapsed time to hours, minutes, and seconds
                    var hours = Math.floor(elapsedTime / 3600000);
                    var minutes = Math.floor((elapsedTime % 3600000) / 60000);
                    var seconds = Math.floor((elapsedTime % 60000) / 1000);

                    // Display the timer as 'HH:MM:SS' format
                    timerElement.textContent = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');
                }

                // Update the timer every second (1000 milliseconds)
                var intervalId = setInterval(updateTimer, 1000);

                // Stop the timer after a certain duration (e.g., 10 minutes)
                var duration = 10 * 60 * 1000; // 10 minutes in milliseconds
                setTimeout(function() {
                    clearInterval(intervalId); // Stop updating the timer
                    //timerElement.textContent = 'Timer Complete!'; // Display a completion message
                }, duration);
            }

        </script>

        <script>
            var n = '<%=quiz.last_index+1%>'*1;

            $(document).ready(()=>{
                api.quiz.questions('<%=quiz.questions_queue%>',data=>{
                    console.table(data);

                    renderQuestion(data);

                    $('.next').on('click', ()=>{
                        soalan = data[n];

                        jawapan = [soalan.qid,d3.select('.option-selected')?d3.select('.option-selected').attr('answer'):'X'].join(',');

                        var ans = {
                            quizid: '<%=quiz.id%>'*1,
                            answer: jawapan,
                            lastindex: n,
                            queue: '<%=quiz.questions_queue%>'
                        }

                        api.quiz.answer(ans, d=>{
                            n++;
                            renderQuestion(data);
                        });
                    })
                    //$('.answer').val(data[0].objective_options);
                });
            });


            function renderQuestion(data){
                console.log(data);
                if(n<data.length){
                    $('.qid').text(n+1);
                    $('.theme').text(data[n].theme);
                    $('.sub-theme').text(data[n].sub_theme);
                    $('.question > .text').text(data[n].question);

                    var options = data[n].objective_options.split('|');
                    var abc = 'ABCDEFGHIJKLMNOPQ'.split('');

                    $('.answer').find('.option').remove();
                    options.forEach((d,i)=>{
                        b = $('.answer').append('<div class="option option-' + i + '" answer="' + abc[i] + '"><div>' + d + '</div></div>');
                        $('.option-'+i).on('click',()=>{
                            $('.option').removeClass('option-selected');
                            $('.option-'+i).addClass('option-selected');
                        })
                    });
                }else{
                    $('.theme').text('');
                    $('.sub-theme').text('');
                    //$('.question > .text').text('--TAMAT SOALAN--');
                    $('.answer').find('.option').remove();
                    $('.timer').remove();
                    $('.next').remove();
                    //window.close()
                    var ans = {
                        quizid: '<%=quiz.id%>',
                        size: '<%=quiz.questions.split(",").length%>'
                    }

                    api.quiz.complete(ans, d=>{
                        api.quiz.result(ans, keputusan=>{
                            console.log('KEPUTUSAN====>>>>',keputusan)
                            $('.question > .text').text('TAHNIAH, ANDA TELAH MENJAWAB SEMUA SOALAN');
                            res = d3.select('.question');

                            pnl = res.append('div').attr('class','flex-column center').attr('style','width:80vw;min-height:250px;background-color:#fff;border:1px solid #454545;border-radius:5px');
                            markah = pnl.append('div').attr('class','flex-column');
                            markah.append('div').text('Markah');
                            markah.append('div').attr('style','font-weight:bold;font-size:x-large;color:#080;margin-bottom:20px').text(keputusan[0].markah);
                            
                            masa = pnl.append('div').attr('class','flex-column');
                            masa.append('div').text('Catatan Masa');
                            masa.append('div').attr('style','font-weight:bold;font-size:x-large;color:#080').html((keputusan[0].hours>0?keputusan[0].hours+'<span style="font-size:60%;color:#585858">jam</span> ':'') + (keputusan[0].minutes>0?keputusan[0].minutes+'<span style="font-size:60%;color:#585858">minit</span> ':'') + keputusan[0].seconds+'<span style="font-size:60%;color:#585858">saat</span> ');
                        })
                    });
                }
            }
        </script>

    </body>
</html>